doctype html
html(lang="en", data-framework="angularjs")
  head
    title= pageTitle
    script(src='./semantic/dist/semantic.js')
    script(src='./node_modules/angular/angular.js')
    script(src='./src/app.js')
    link(rel='stylesheet',href='./semantic/dist/semantic.css')
    link(rel='stylesheet',href='./ui/styles.css')
    
  body(ng-app='player')
    #controls(ng-controller="controlsController")
      .ui.basic.attached.inverted.borderless.toolbar.menu
        .ui.item
          .ui.icon.button(ng-click="toggleAdd()")
            i.plus.icon
        .ui.item
          .ui.icon.buttons
            .ui.button(ng-click="previous()")
              i.fast.backward.icon
            .ui.button(ng-click="playPause()")
              i.icon(ng-class="{ play : state == 'paused', pause : state == 'playing', 'spinner loading' : state == 'loading' }")
            .ui.button(ng-click="next()")
              i.fast.forward.icon
        .ui.item
          .ui.icon.buttons
            .ui.button(ng-click="toggleShuffle()", ng-class="{ active : shuffle }")
              i.shuffle.icon
            .ui.button(ng-click="toggleRepeat()", ng-class="{ active : repeat }")
              i.repeat.icon
        .ui.item {{ calculateTime(timeElapsed) }} / {{ calculateTime(videoLength) }}
        .ui.right.floated.item
          .ui.icon.input
            input(type='text', placeholder='Filter', ng-model='filter', ng-keyup="$event.keyCode == 13 ? setFilter() : null")
            i.filter.icon
      .ui.bottom.attached.blue.progress(ng-click="jump($event)")
        .bar

    .ui.add.modal(ng-controller="addController")
      .header Add youtube link
      .content
        .ui.fluid.action.input(ng-class="{ error : error }")
          input(placeholder="http://www.youtube.com/watch?v=SOMETHING",ng-model='url')
          .ui.icon.button(ng-click="fetchData($evalAsync)")
            i.right.icon(ng-class="{ chevron : state == 'idle', 'spinner loading' : state == 'loading' }")
        .ui.hidden.card
          .image
            img(ng-src="http://img.youtube.com/vi/{{ yTId }}/hqdefault.jpg")
          .content
            .header(ng-bind='title')
            .description(ng-bind='length')
      .actions
        .ui.cancel.button(ng-click="hide()") Cancel
        .ui.approve.button(ng-class="{ disabled : !addable }", ng-click="add()") Add

    .ui.small.confirm.modal(ng-controller="confirmController")
      .header(ng-bind="message")
      .actions
        .ui.cancel.button(ng-click="cancel()") Cancel
        .ui.approve.button(ng-click="approve()") OK

    #playList
      #song-list.ui.selection.divided.list(ng-controller="playlistController")
        .item(
          ng-attr-id="{{ 'song-' + id }}",
          ng-repeat="(id, song) in playlist.list",
          ng-dblclick="playlist.playSong(id)",
          ng-class="{ active : playlist.active == id }"
        )
          .right.floated.ui.buttons
            .ui.icon.button(ng-click="playlist.open(id)")
              i.youtube.icon
            .ui.icon.button(ng-click="playlist.moveUp(id)")
              i.caret.up.icon
            .ui.icon.button(ng-click="playlist.moveDown(id)")
              i.caret.down.icon
            .ui.icon.button(ng-click="playlist.remove(id)")
              i.remove.icon
          img.ui.avatar.image(ng-src="http://img.youtube.com/vi/{{ song.YTId }}/default.jpg")
          .content
            .header {{ song.title }}
            .description {{ song.length }}
